/* TODO - replace img with compressed img */

html, body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    font-family: "DM Sans", sans-serif;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #9933ff;
    color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    backdrop-filter: blur(8px);
}

.navbar {
    padding: 12px;
    border-bottom: 1px solid darkgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.nav-links {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 2rem;
    padding: 0px;
    margin: 0;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

.logo {
    margin-right: auto;
    font-size: 1.5rem;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.img-headshot {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.img-card {
    max-width: 300px;
    flex: 1 1 150px;
}

.hero-btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn {
    background-color: #9933ff;
    color: #fff;
    border-radius: 5%;
    padding: .5rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}